.bookings {
    padding: 1rem 25rem;
}

.form-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.form-field label {
    font-size: 1.2rem;
}
.button-primary {
    display: block;
    padding: 0.5rem;
    background-color: #F4CE14;
    border: none;
    border-radius: 11px;
    text-decoration: none;
    color: black;
    margin: 0 auto;
}

.button-primary:hover {
    background-color: #b2e1cf;
    transition: 0.5s;

}
@media only screen and (max-width: 992px) {
    .bookings {
        padding: 1rem;
    }
}